version: '3.8'

services:
  # 后端服务 (Node.js + FFmpeg)
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    # 映射到主机的 3000 端口，方便调试和前端访问
    ports:
      - "3003:3000"
    # 使用卷进行持久化存储 (用于临时文件)，确保 Docker 在清理容器时不会删除转换的文件
    volumes:
      - backend_data:/usr/src/app/temp_uploads
    container_name: mp3_converter_backend
    # 环境变量（如果需要）
    environment:
      NODE_ENV: production
      PORT: 3000
    restart: always

  # 前端服务 (React + Nginx)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    # 映射到主机的 80 端口，用户直接访问 http://localhost
    ports:
      - "8083:80" 
    # 依赖后端服务
    depends_on:
      - backend
    container_name: mp3_converter_frontend
    restart: always

# 卷定义
volumes:
  backend_data:
    driver: local